nav.navbar {
  border-radius: 0;
}

h1 {
  margin-bottom: 1.2em;
}
#pairingList li {
  border-bottom: 1px solid #eee;
  padding: 10px;
  font-size: 16px;
}

#pairingList li:last-child {
  border-bottom: 0px;
}
